  <%= stylesheet_link_tag "base", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= stylesheet_link_tag "sp", :media => "all" %>
  <header id="kv"class="sp_display-none">
    <div id="kv__carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag('kv1.jpg') %>
        </div>
        <% @kv_imgs.each do |img|%>
        <div class="carousel-item">
          <%= image_tag img.image.url %>
        </div>
        <% end %>
      </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="right_menu_bar">

      <div class="menu"> <span></span> </div>
      <nav id="nav">
      		<ul class="main">
      				<li><a target="_blank" href="/">HOME</a></li>
      				<li><a target="_blank" href="/webpages/profile">PROFILE</a></li>
      				<li><a href="/webpages/study">STUDY</a></li>
      				<li><a href="/webpages/member">MEMBER</a></li>
      				<li><a target="_blank" href="/webpages/contact">CONTACT</a></li>
      		</ul>
      </nav>
      <div class="overlay"></div>
      <div class="site_title">
        SEO LABO
      </div>
      <%= image_tag('signeture_2.gif',style:'width:90px;height:90px;margin-top: 16vh;') %>
    </div>
    <div class="kv__text-box">
      <h1 class="kv__title">あなたの夢が</h1>
      <h1 class="kv__title slide">あなたを強くする</h1>
      <span class="kv__sub-text">Catch your dream and have ambitious more!</span>
    </div>
  </header>

  <section class="article">
    <nav class="navbar navbar-expand-lg navbar-light bg-light pc_display-none">
      <a class="navbar-brand" href="#">SEO LABO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/webpages/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/webpages/study">Result</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/webpages/member">Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/webpages/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="greet">
      <div class="greet__text-box">
        <div class="greet__title">GREETING</div>
        <div class="greet__content">
          ご訪問ありがとうございます。こちらは、瀬尾研究室です。<br>
          当研究室では、細胞増殖因子による細胞内シグナル伝達の研究を行っています。 <br>
          多数の生物工学科卒業生、大学院生を世の中に送り出しています。 <br>
          研究室の卒業生は、大学、研究所や製薬企業 の研究者として、またさまざまな領域で活躍しています。 <br>
          卒業生の活躍を見ることが何よりの喜びになっています。 <br>
        </div>
      </div>
      <div class="greet__icon sp_display-none">
        <%= image_tag('profile_seo.jpg') %>
      </div>
    </section>

    <div class="news__title">
      <span>-NEWS-</span><br>
      お知らせ
    </div>
    <section class="news">

        <% @articles.each do |article| %>
        <div class="news__outerbox">
        <%= image_tag article.image.url, width: 100,height: 100%>
        <div class="news__text">
          <div class="news__text-date"><%= article.created_at.strftime('%Y.%m.%d')%></div>
          <a href="<%= article.image.url%>"><%= article.title %></a>
        </div>
      </div>
        <% end %>
    </section>
    <div class="news__title">
      <span>-Challenge!-</span><br>
      研究室訪問について
    </div>
    <section class="houmon">
      <a href="/webpages/contact">
        <div class="houmon__box">
          <%= image_tag('houmon.jpg') %>
          <div class="houmon__box-text sp_display-none">
            <span class="upper">challenge</span>
            <div class="houmon__box-message">訪問お問い合わせページへ</div>
            <div class="houmon__box-more">＞＞MORE</div>
          </div>
        </div>
      </a>
    </section>

    <section id="profile">
      <h2 class="profile__title">PROFILE</h2>
      <div class="profile__inner">
        <a href="webpages/profile">
          <div class="profile__text-box">
            <div class="profile__content_title">職歴</div>
            <div class="profile__content">
              1976.3　広島大学医学部薬学科　卒業（薬学士） <br>
              1978.3　広島大学大学院薬学研究科修士課程薬学専攻　修了 <br>
              1984.1　京都大学　薬学博士（論文博士、山科郁男教授）<br>
              1978.4〜1984.1　広島大学医学部総合薬学科生理化学教室 技術補佐員<br>
              1984.6〜1986.8　米国ハーバード大学医学部　マサチューセッツ総合病院研究員<br>
              1986.9〜1988.8　米国ハーバード大学医学部　ボストン小児病院研究員<br>
              1988.11〜1989.3　京都産業大学国土利用開発研究所 助教授<br>
              1989.3〜2002.3　京都産業大学工学部生物工学科　助教授<br>
              2002.4〜2010.3　京都産業大学工学部生物工学科　教授<br>
              2005.3〜2006.2、2006.8　ハーバード大学医学部　ボストン小児病院　客員教授<br>
              2010.4〜現在　京都産業大学総合生命科学部生命システム学科　教授<br>
            </div>
          </div>
        </a>
        <div class="right_thumbnail">
          <%= image_tag('profile.png') %>
        </div>
      </div>
    </section>

    <section id="study">
      <h2 class="study__title">STUDY</h2>
      <div class="study__inner">
        <a href="webpages/study">
          <div class="study__text-box">
            <div class="study__content_title">研究内容</div>
            <div class="study__content">
              細胞増殖因子による細胞内シグナル伝達の研究を行っています。
              がん治療や再生治療につながる基礎研究を行い、治療の分子標的を探索し、 将来は人の命を救う薬を創りだすことが夢です。
              多数の生物工学科卒業生、大学院生を世の中に送り出しています。
              研究室の卒業生は、大学、研究所や製薬企業 の研究者として、またさまざまな領域で活躍しています。
              卒業生の活躍を見ることが何よりの喜びになっています。
            </div>
          </div>
        </a>
        <div class="left_thumbnail sp_display-none">
          <%= image_tag('study.jpg') %>
        </div>
      </div>
    </section>


    <!-- <section id="member">

    </section>

    <section id="contact">
      <div class="left_thumbnail">

      </div> -->


    </section>
    <section id="member">
      <h2 class="member__title">MEMBER</h2>
      <div class="image-gallery animated">
        <%@members.each do |member|%>
        <div class="image-gallery__item mt-5">
          <a class="d-inline-block" href="webpages/member">
            <%= image_tag member.image.url, :width => "150", :height => "150", :alt => member.name %>
          </a>
        </div>
        <% end %>
      </div>
    </section>
  </section>



  <!-- まずjQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
$('.menu, .overlay').click(function () {
  $('.menu').toggleClass('clicked');

  $('#nav').toggleClass('show');

});
</script>

  <!-- Popper.js, 次に Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- 自作js -->
  <%= javascript_include_tag 'main' %>

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
