<div class="row">
  <div class="col-sm-6 offset-sm-3">


    <%= form_with(url: img_update_path(id: @kv_img.id), method: :put, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :image, '現在の画像' %>
        <%= image_tag @kv_img.image.url, :width => "110px", :height => "110px" %>
      </div>

      <div class="form-group">
        <%= f.label :image, 'image' %>
        <%= f.file_field :image, class: 'form-control',required: true %>
      </div>

      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>

  </div>
</div>
